@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --font-family: 'Lato', 'sans-serif';
  
  --color-primary: #3C54CC;
  --color-darkest: #17324C;
  --color-dark: #596080;
  --color-mid: #878CA8;
  --color-light: #DADEF2;
  --color-lightest: #F5F7FA;
  
  --color-white: #fff;
  --color-black: #000;
}